*{
    margin: 0px;
    padding: 0px;
    
}
.logo-up{
    text-align: center;
}
.nav-link{
    margin-left: 20px;
}
h3{
    margin-top: 30px;
}
.progress{
    color: red;
}
.boxhny13 img{
    border-radius: 30px;
}
